@{
    ViewBag.Title = "Home Page";
}
<header class="py-5 bg-image-full">
    <div class="text-center my-5">
        <h1 class="text-white">Sustainable Seas Trust</h1>
        <br />
        <p class="text-center text-white col-md-8 mx-auto">
            Sustainable Seas Trust is a Non-Profit Organisation
            (NPO) that supports and connects communities across Africa through research,
            education, enterprise development and growing awareness about ocean conservation
            and plastic pollution. We also build networks for sharing information and support focused on waste
            management. Through our events and projects, the African Marine Waste Network, Hope Spots and Marine Education,
            we are bringing like-minded and passionate people together, locally and internationally, to manage the issues of plastic
            waste in Africa.
        </p>
    </div>
</header>

<div class="container">
    <main role="main" class="pb-3">
        <section id="home">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 d-flex flex-column justify-content-center p-5">
                        <table id="table1" class="table table-bordered text-white">
                            <tr>
                                <th colspan="5">System Name: Sustainable Seas Trust</th>
                            </tr>
                            <tr>
                                <td>Author: Bryony Asrie</td>
                                <td colspan="3">Date: 17 August  2022</td>
                                <td>Version 1.0.0</td>
                            </tr>
                            <tr>
                                <td>Use case name:</td>
                                <td colspan="3"> View Hope Spots</td>
                                <td>USE CASE TYPE</td>
                            </tr>
                            <tr>
                                <td>Use case id:</td>
                                <td colspan="3">1.1</td>
                                <td>Business requirements:  <i class='far fa-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Priority:</td>
                                <td colspan="3">Low</td>
                                <td>System Analysis:  <i class='far fa-check-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Source:</td>
                                <td colspan="3">Case Study</td>
                                <td>System Design:  <i class='far fa-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Primary Business Actor:</td>
                                <td colspan="4">User</td>
                            </tr>
                            <tr>
                                <td>Primary System Actor:</td>
                                <td colspan="4">None</td>
                            </tr>
                            <tr>
                                <td>Other Participating Actors:</td>
                                <td colspan="4">None</td>
                            </tr>
                            <tr>
                                <td>Other Interested Stakeholders:</td>
                                <td colspan="4">Department of Environmental Affairs</td>
                            </tr>
                            <tr>
                                <td>Description: </td>
                                <td colspan="4">The User wishes to learn more about Hope Spots and clicks on the link in tha navigtion bar. The system displays the list of hope spots from which the user can select one to learn more about.</td>
                            </tr>
                            <tr>
                                <td>Pre-condition:</td>
                                <td colspan="4"> User must already be on the SST site.</td>
                            </tr>
                            <tr>
                                <td>Trigger:</td>
                                <td colspan="4">User clicks on the Hope Spots link in tha navigtion bar.</td>
                            </tr>
                        </table>
                        <br />
                        <table class="table table-bordered text-white">
                            <tr>
                                <th colspan="5">System Name: Sustainable Seas Trust</th>
                            </tr>
                            <tr>
                                <td>Author: Bryony Asrie</td>
                                <td colspan="3">Date: 17 August  2022</td>
                                <td>Version 1.0.0</td>
                            </tr>
                            <tr>
                                <td>Use case name:</td>
                                <td colspan="3">Make a donation</td>
                                <td>USE CASE TYPE</td>
                            </tr>
                            <tr>
                                <td>Use case id:</td>
                                <td colspan="3">2.1</td>
                                <td>Business requirements:  <i class='far fa-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Priority:</td>
                                <td colspan="3">High</td>
                                <td>System Analysis:  <i class='far fa-check-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Source:</td>
                                <td colspan="3">Case Study</td>
                                <td>System Design:  <i class='far fa-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Primary Business Actor:</td>
                                <td colspan="4">User</td>
                            </tr>
                            <tr>
                                <td>Primary System Actor:</td>
                                <td colspan="4">None</td>
                            </tr>
                            <tr>
                                <td>Other Participating Actors:</td>
                                <td colspan="4">Payfast, Bank</td>
                            </tr>
                            <tr>
                                <td>Other Interested Stakeholders:</td>
                                <td colspan="4">SST</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td colspan="4">The User wishes to make a donation to the organization and does this through Payfast by filling in their bank details and the amount they would like to donate.</td>
                            </tr>
                            <tr>
                                <td>Pre-condition: .</td>
                                <td colspan="4">User must have a credit or cheque account that allows them to make online payments. User must be on the Take Action Page.</td>
                            </tr>
                            <tr>
                                <td>Trigger:</td>
                                <td colspan="4">User clicks on Make a Donation card on the Take Action page.</td>
                            </tr>
                        </table>
                        <br />
                        <table class="table table-bordered text-white">
                            <tr>
                                <th colspan="5">System Name: Sustainable Seas Trust</th>
                            </tr>
                            <tr>
                                <td>Author: Bryony Asrie</td>
                                <td colspan="3">Date: 17 August  2022</td>
                                <td>Version 1.0.0</td>
                            </tr>
                            <tr>
                                <td>Use case name:</td>
                                <td colspan="3">Order Book</td>
                                <td>USE CASE TYPE</td>
                            </tr>
                            <tr>
                                <td>Use case id:</td>
                                <td colspan="3">2.2</td>
                                <td>Business requirements:  <i class='far fa-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Priority:</td>
                                <td colspan="3">Medium</td>
                                <td>System Analysis:  <i class='far fa-check-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Source:</td>
                                <td colspan="3">Case Study</td>
                                <td>System Design:  <i class='far fa-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Primary Business Actor:</td>
                                <td colspan="4">User</td>
                            </tr>
                            <tr>
                                <td>Primary System Actor:</td>
                                <td colspan="4">None</td>
                            </tr>
                            <tr>
                                <td>Other Participating Actors:</td>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td>Other Interested Stakeholders:</td>
                                <td colspan="4">SST, Estuary Care</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td colspan="4">The User wishes to place an order for one of SST's books. They click on Order a Book and then fill out the order form.</td>
                            </tr>
                            <tr>
                                <td>Pre-condition: .</td>
                                <td colspan="4">User must have a credit or cheque account that allows them to make online payments. User must be on the Take Action Page.</td>
                            </tr>
                            <tr>
                                <td>Trigger:</td>
                                <td colspan="4">User clicks on Order a Book card on the Take Action page.</td>
                            </tr>
                        </table>
                        <br />
                        <table id="bottom-table" class="table table-bordered text-white">
                            <tr>
                                <th colspan="5">System Name: Sustainable Seas Trust</th>
                            </tr>
                            <tr>
                                <td>Author: Bryony Asrie</td>
                                <td colspan="3">Date: 17 August  2022</td>
                                <td>Version 1.0.0</td>
                            </tr>
                            <tr>
                                <td>Use case name:</td>
                                <td colspan="3">Sign up to Volunteer</td>
                                <td>USE CASE TYPE</td>
                            </tr>
                            <tr>
                                <td>Use case id:</td>
                                <td colspan="3">2.3</td>
                                <td>Business requirements:  <i class='far fa-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Priority:</td>
                                <td colspan="3">High</td>
                                <td>System Analysis:  <i class='far fa-check-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Source:</td>
                                <td colspan="3">Case Study</td>
                                <td>System Design:  <i class='far fa-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Primary Business Actor:</td>
                                <td colspan="4">User</td>
                            </tr>
                            <tr>
                                <td>Primary System Actor:</td>
                                <td colspan="4">None</td>
                            </tr>
                            <tr>
                                <td>Other Participating Actors:</td>
                                <td colspan="4">None</td>
                            </tr>
                            <tr>
                                <td>Other Interested Stakeholders:</td>
                                <td colspan="4">SST</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td colspan="4">The User wishes to become a volunteer at SST and fills out an application form with their personal details.</td>
                            </tr>
                            <tr>
                                <td>Pre-condition: .</td>
                                <td colspan="4">User must be on the Take Action Page.</td>
                            </tr>
                            <tr>
                                <td>Trigger:</td>
                                <td colspan="4">User clicks on the Volunteer button.</td>
                            </tr>
                        </table>
                        <br />
                        <table id="bottom-table" class="table table-bordered text-white">
                            <tr>
                                <th colspan="5">System Name: Sustainable Seas Trust</th>
                            </tr>
                            <tr>
                                <td>Author: Bryony Asrie</td>
                                <td colspan="3">Date: 17 August  2022</td>
                                <td>Version 1.0.0</td>
                            </tr>
                            <tr>
                                <td>Use case name:</td>
                                <td colspan="3">Download MySchool form</td>
                                <td>USE CASE TYPE</td>
                            </tr>
                            <tr>
                                <td>Use case id:</td>
                                <td colspan="3">2.4</td>
                                <td>Business requirements:  <i class='far fa-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Priority:</td>
                                <td colspan="3">Low</td>
                                <td>System Analysis:  <i class='far fa-check-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Source:</td>
                                <td colspan="3">Case Study</td>
                                <td>System Design:  <i class='far fa-circle'></i></td>
                            </tr>
                            <tr>
                                <td>Primary Business Actor:</td>
                                <td colspan="4">User</td>
                            </tr>
                            <tr>
                                <td>Primary System Actor:</td>
                                <td colspan="4">None</td>
                            </tr>
                            <tr>
                                <td>Other Participating Actors:</td>
                                <td colspan="4">None</td>
                            </tr>
                            <tr>
                                <td>Other Interested Stakeholders:</td>
                                <td colspan="4">SST, MySchool MyVillage MyPlanet</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td colspan="4">The User wishes to add Sustainable Seas Trust as a beneficiary on their MySchool account and downloads the required form by clicking on the relevant button on the Take Action page.</td>
                            </tr>
                            <tr>
                                <td>Pre-condition: .</td>
                                <td colspan="4">User must be on the Take Action Page.</td>
                            </tr>
                            <tr>
                                <td>Trigger:</td>
                                <td colspan="4">User clicks on the Download Myschool Form button.</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <img class="img-fluid" src="~/Content/img/classdiagram.png"/>

                </div>
            </div>
        </section>
        </main>
    </div>
