
@{
    ViewBag.Title = "TakeAction";
}

<div class="row align-items-center" style="background-image: linear-gradient(to bottom, rgba(13, 21, 34, 0.35), rgba(2, 49, 75,1 )), url('../../Content/img/Penguin.jpg');
         height: 100vh;
         background-size: cover;">
    <div>
        <h1 class="text-center text-white">Take Action</h1>
        <br />
        <p class="text-center text-white col-md-8 mx-auto">
            With your support you are investing in the future of South Africa’s coastline and oceans and the money is used in a variety of ways that range from educational programmes in local communities to establishing South African Hope Spots.
        </p>
    </div>
</div>
<div class="container overflow-hidden text-white text-center">
    <div class="row gy-5">
        <div class="col-6">
            <div class="p-3">
                <h3>Buy Our Books</h3>
                <img class="img-fluid" src="../../Content/img/books.png" />
                <p>
                    A photographic celebration of South Africa’s seas and shores.
                    And an exploration of the Boesmans and Kariega Estuaries
                </p>
                <button>Order Now</button>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3">
                <h3>Become A Volunteer</h3>
                <img class="img-fluid" src="../../Content/img/Africa.png" />
                <p>Do you love the deep blue? Are you fascinated by marine life? Are you passionate about conservation and sustainability? Then join our cause by becoming a volunteer and help us work Towards Zero Plastics to the Seas of Africa. Voluntary work may range from helping our researchers in the field, to helping our Communications department at events. Every bit of help towards our ocean counts, and we appreciate all the support we can get.</p>
                <div class="form">
                    @using (Html.BeginForm("Add", "Home", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="name">Name</label>
                            <textarea class="form-control" id="name" name="name" rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" rows="1"></input>
                        </div>
                        <div class="form-group">
                            <label for="Phone">Phone Number</label>
                            <textarea class="form-control" id="phone" name="phone" rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="city">Name of city/town that you live in</label>
                            <textarea class="form-control" id="city" name="city" rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="interests">Interests</label>
                            <textarea class="form-control" id="interests" name="interest" rows="3"></textarea>
                        </div>
                    }
                </div>
                <br/>
                <button id="volunteerbtn">Volunteer</button>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3">

                <h3>Swipe for the Oceans</h3>
                <p>
                    You can further support our cause by adding us as        your beneficiary.

                    Each time you swipe your card, MySchool MyVillage MyPlanet will give back a percentage of your purchase value, on your behalf, to us.

                    You’ll help raise funds for our work towards the oceans, and it won’t cost you a cent.

                    You can apply online for a card at  https://www.myschool.co.za/portal/register or simply get a card in a Woolworths store at their customer services.

                    If you already have a card, you can have up to three different beneficiaries. You can manage your beneficiaries at https://www.myschool.co.za/portal/login

                    If you prefer, you may also fill in the form below and email your completed forms to stacey@sstafrica.org.za
                </p>
                <button>Download Myschool Form</button>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3">
                <h3>Make a Donation</h3>

                <p>
                    Any donation, no matter how large or small, supports SST in its vision and mission.
                    With your donation you are investing in the future of Africa’s coastline and oceans and the money is used in a variety of ways that range from educational programmes in local communities to establishing South African Hope Spots.
                </p>
                <a href="https://www.payfast.co.za/donate/go/sustainableseastrust"><button>Donate Now</button></a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />

@section scripts {

    <script type="text/javascript">

        $("#volunteerbtn").click( function () {
            $(".form").css({
                "display": "block"
            });
            $("#volunteerbtn").html("submit form");
        })
    </script>


}